/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.error {
    color: red;
    margin-left: 5px;
}

#updatePanel {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.loading {
    float: left;
    position: absolute;
    margin-left: 40%;
    width: 200px;
    top: 100px;
    padding: 3px;
    border: 1px solid rgb(0, 255, 0);
    background-color: gray;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

span.current {
    cursor: auto !important;
    background-color: #6E6E6E !important;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #000000;
    margin-right: 4px;
}

td.footerContent span a {
    display: inline-block;
    padding: 3px 10px;
    background-color: white;
    margin-right: 4px;
    border: 1px solid #998787;
    cursor: pointer;
}

td.footerContent span a {
    text-decoration: none;
}

td.footerContent {
    text-align: right;
}