@model IEnumerable<Company>

<div class="row page-box">
    <div class="col-sm-12">
        <h2>Companies list</h2>
            <div class="input-group col-md-12" style="margin-bottom: 14px">
                <input type="text" class="form-control" placeholder="Search by name.."
                       name="search" id="search" />
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit" onclick="find();">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        <div id="updatePanel">

        </div>
        <br />
        @if (ViewBag.PrivilegesLevel == 3)
        {
            @Html.ActionLink("Add new company", "Create", "Companies", null, new { @class = "btn btn-primary" })
        }
    </div>
</div>

@section Scripts{
    <script src="~/js/company.js"></script>
    <script>
        $(document).ready(reload('/api/CompanyApi'));

        function find() {
            reload('/api/CompanyApi', document.getElementById("search").value);
        }

    </script>
}
