@model IEnumerable<JobOffer>

<div class="row page-box">
    <div class="col-sm-12">
        <h2>Job Offer list</h2>

        <div class="input-group col-md-12" style="margin-bottom: 14px">
            <input type="text" class="form-control" placeholder="Search by offer title or description.."
                   name="search" id="search" />
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit" onclick="find();">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
        <div id="updatePanel">

        </div>

        @if (ViewBag.PrivilegesLevel > 1)
        {
            @Html.ActionLink("Create job offer", "Create", "JobOffers", null, new { @class = "btn btn-primary" })
        }
    </div>
</div>





@section Scripts{
    <script src="~/js/job_offer.js"></script>
    <script>


        $(document).ready(reload('/api/JobOffersApi'));

        function find() {
            reload('/api/JobOffersApi', document.getElementById("search").value);
        }

    </script>
}

